/* .productChoise__wrapper {

} */

.search input {
    width: 100%;
    padding: 15px 12px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%); 
    border: none;
    outline: none; /* забирає border в input при кліці */
    background: #fff;
    border-radius: 8px;
    font-size: 24px;
    box-sizing: border-box;
}